<h1>Fotopirsch vom ‎3. ‎September ‎2019</h1>
<div class="w-100">
  <img class="w-25" src="../../assets/documents/silvan/images/P1000241.jpg">
</div>

<h1>Fotopirsch vom ‎10. ‎September ‎2019</h1>
<div class="w-100">
  <img class="w-25" src="../../assets/documents/silvan/images/P1000324.jpg">
  <img class="w-25" src="../../assets/documents/silvan/images/P1000332.jpg">

</div>

<h1>Fotopirsch vom ‎17. ‎September ‎2019</h1>
<div class="w-100">
  <img class="w-25" src="../../assets/documents/silvan/images/P1000271.jpg">
</div>

<div class="pdf">
  <h1>PDF: Datenformate</h1>
  <pdf-viewer src="../../assets/documents/silvan/pdf/FileExtensions.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Urheberrecht</h1>
  <pdf-viewer src="../../assets/documents/silvan/pdf/Copyright.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Software & Plugins & Scripts</h1>
  <pdf-viewer src="../../assets/documents/silvan/pdf/SoftwarePluginsScripts.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>
