<h1>Bank</h1>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/bank.jpg"
                  after-img="../../assets/documents/youri/images/edited/bank.jpg">
</app-image-slider>
<p>Ich habe bei diesem Foto zuerst versucht, möglichst nah an die Bank heranzugehen. Jedoch konnte ich die Blende nicht
  passend einstellen, sodass alles verschwommen oder scharf war, nicht nur die Bank. Mit etwas mehr Distanz konnte ich
  die Blende so anpassen, dass nur die Bankscharf war. <br/>Beim editieren habe ich dann die Helligkeit des Bildes
  hochgeschraubt und dem Hintergrund einen leichten grünen Stich verpasst. Ausserdem habe ich noch den Konstrast und die
  Schärfe der Bank erhöht und die des Hintergrundes verkleinert</p>
<h1>Türstopper</h1>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/tuerstopper.jpg"
                  after-img="../../assets/documents/youri/images/edited/tuerstopper.jpg">
</app-image-slider>
<p>Dieses Foto ist von ganz nah entstanden. Die Blende habe ich sehr klein eingestellt, damit der Hintergrund möglichst
  verschwommen ist. Die grösste Herausforderung war es, die Linse auf die Höhe des Objekts zu bringen. Hätte ich die
  nicht geschafft, wäre der Hintergrund nur Kies gewesen und das Bild wäre öde. <br/>Beim editieren wollte ich möglichst
  das Aluminium des Türstoppers in den Vordergrund bringen. Daher habe ich einen leichten bläulichen Filter über das
  Metall getan. Ausserdem habe ich noch den Blur im Hintergurnd erhöt.</p>
<h1>Zaunpfahl</h1>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/gitter.jpg"
                  after-img="../../assets/documents/youri/images/edited/gitter.jpg">
</app-image-slider>
<p>Dieses Bild war sehr einfach zum Fotografieren. Da der Hintergrund sehr weit entfernt war, konnte ich die Blende
  beinahe auf den Standardeinstellungen lassen. <br/>Beim bearbeiten wollte ich vor allem diesen grünlichen Stich
  entfernen. Ausserdem habe ich noch den Kontrast zum Hintegrund erhöt.</p>

<div class="pdf">
  <h1>PDF: Datenformate</h1>
  <pdf-viewer src="../../assets/documents/youri/pdf/datenformate.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Rechtliches</h1>
  <pdf-viewer src="../../assets/documents/youri/pdf/rechtliche_grundlagen_fotografie.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Sripts</h1>
  <pdf-viewer src="../../assets/documents/youri/pdf/scripts_software_plugins.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>
