<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/bank.jpg"
                  after-img="../../assets/documents/youri/images/edited/bank.jpg">
</app-image-slider>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/tuerstopper.jpg"
                  after-img="../../assets/documents/youri/images/edited/tuerstopper.jpg">
</app-image-slider>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/gitter.jpg"
                  after-img="../../assets/documents/youri/images/edited/gitter.jpg">
</app-image-slider>
