<div class="pdf">
  <h1>PDF: Datenformate</h1>
  <pdf-viewer src="../../assets/documents/youri/pdf/datenformate.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Rechtliches</h1>
  <pdf-viewer src="../../assets/documents/youri/pdf/rechtliche_grundlagen_fotografie.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Sripts</h1>
  <pdf-viewer src="../../assets/documents/youri/pdf/scripts_software_plugins.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>
