<h1>Fotopirsch vom ‎3. ‎September ‎2019</h1>
<div class="w-100">
  <img class="w-25" src="../../assets/documents/lars/images/P1000234-2.jpg">
  <img class="w-25" src="../../assets/documents/lars/images/P1000239-2.jpg">
  <img class="w-25" src="../../assets/documents/lars/images/P1000246-2.jpg">
</div>

<h1>Fotopirsch vom ‎10. ‎September ‎2019</h1>
<div class="w-100">
  <img class="w-25" src="../../assets/documents/lars/images/P1000251-2.jpg">
  <img class="w-25" src="../../assets/documents/lars/images/P1000257-2.jpg">
  <img class="w-25" src="../../assets/documents/lars/images/P1000262-2.jpg">
</div>

<h1>Fotopirsch vom ‎17. ‎September ‎2019</h1>
<div class="w-100">
  <img class="w-25" src="../../assets/documents/lars/images/P1000295-2.jpg">
  <img class="w-25" src="../../assets/documents/lars/images/P1000306-2.jpg">
  <img class="w-25" src="../../assets/documents/lars/images/P1000309-2.jpg">
</div>

<div class="pdf">
  <h1>PDF: Datenformate</h1>
  <pdf-viewer src="../../assets/documents/lars/pdf/Datentypen_Modul-152_Lars_Glaus.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Rechtliches</h1>
  <pdf-viewer src="../../assets/documents/lars/pdf/Begriffserklärungen_Modul-152.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>

<div class="pdf">
  <h1>PDF: Sripts</h1>
  <pdf-viewer src="../../assets/documents/lars/pdf/Software_Scripts_Modul-152.pdf" style="max-width: 100%"
              [original-size]="false"></pdf-viewer>
</div>
