<h1>Bilder Lars</h1>

<h2>Blatt</h2>
<app-image-slider class="slider"
                  before-img="../../assets/documents/lars/images/P1000349-2.jpg"
                  after-img="../../assets/documents/lars/images/P1000349-2-2.jpg">
</app-image-slider>
<p class="bold">ISO: 80 <br/>Blende: f/4.5<br/> Belichtungszeit: 1/125sec</p>
<p>
  Da ich nicht so nahe ans Blatt herangehen konnte, versuchte ich es mit dem ändern der Brennweite. Dadurch entstand
  der starke Schärfentiefe Efekt. Ich hatte abe das Problem, dass ein teil des Bodens auch scharf war, was ich aber
  nicht weg brachte. <br/>Beim bearbeiten wollte ich den unterschied zwischen der oberen und unteren Hälfte des Bildes
  verstärken, wodurch ich den boden bräuner gemacht habe.</p>

<h2>Warnlicht</h2>
<app-image-slider class="slider"
                  before-img="../../assets/documents/lars/images/P1000352-2-2.jpg"
                  after-img="../../assets/documents/lars/images/P1000352-2.jpg">
</app-image-slider>
<p class="bold">ISO: 80 <br/> Blende: f/4.5 <br/> Belichtungszeit: 1/160sec</p>
<p>Ich habe bei diesem Bild versucht, möglichst wenig neben dem Warnlicht und dem Tisch auf dem Bild zu haben. Der Fokus
  stimmt nicht ganz, da das Objekt ein bisschen unscharf ist, doch mit dem bearbeiten konnte ich es verbessern. <br/>
  Beim bearbeiten habe ich die dunklen stellen heller gemacht, damit man den Tisch besser sehen kann. </p>

<h2>Kette</h2>
<app-image-slider class="slider"
                  before-img="../../assets/documents/lars/images/P1000376-2.jpg"
                  after-img="../../assets/documents/lars/images/P1000376-2-2.jpg">
</app-image-slider>
<p class="bold">ISO: 80 <br/> Blende: f/5 <br/> Belichtungszeit: 1/125sec </p>
<p>Beim Aufnehmen des Bildes habe ich versucht, möglichst nahe hinzugehen, damit mäglichst gut erkennbar ist, dass die
  kette und nicht die Bank das Objekt ist. Ich habe zusätzlich versucht, dass alles ausser die Kette möglichst
  verschwommen ist.<br/>Beim Bearbeiten machte ich die Bank heller, damit man sie besser sieht.
  Zusätzlich habe ich ales wärmer gemacht, da die Kette fast schon Blau war.</p>

<h1>Bilder Youri</h1>

<h2>Bank</h2>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/bank.jpg"
                  after-img="../../assets/documents/youri/images/edited/bank.jpg">
</app-image-slider>
<p class="bold">ISO: 80 <br/> Blende: f/8 <br/> Belichtungszeit: 1/250sec </p>
<p>Ich habe bei diesem Foto zuerst versucht, möglichst nah an die Bank heranzugehen. Jedoch konnte ich die Blende nicht
  passend einstellen, sodass alles verschwommen oder scharf war, nicht nur die Bank. Mit etwas mehr Distanz konnte ich
  die Blende so anpassen, dass nur die Bankscharf war. <br/>Beim editieren habe ich dann die Helligkeit des Bildes
  hochgeschraubt und dem Hintergrund einen leichten grünen Stich verpasst. Ausserdem habe ich noch den Konstrast und die
  Schärfe der Bank erhöht und die des Hintergrundes verkleinert</p>

<h2>Türstopper</h2>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/tuerstopper.jpg"
                  after-img="../../assets/documents/youri/images/edited/tuerstopper.jpg">
</app-image-slider>
<p class="bold">ISO: 125 <br/> Blende: f/4.5 <br/> Belichtungszeit: 1/80sec </p>
<p>Dieses Foto ist von ganz nah entstanden. Die Blende habe ich sehr klein eingestellt, damit der Hintergrund möglichst
  verschwommen ist. Die grösste Herausforderung war es, die Linse auf die Höhe des Objekts zu bringen. Hätte ich die
  nicht geschafft, wäre der Hintergrund nur Kies gewesen und das Bild wäre öde. <br/>Beim editieren wollte ich möglichst
  das Aluminium des Türstoppers in den Vordergrund bringen. Daher habe ich einen leichten bläulichen Filter über das
  Metall getan. Ausserdem habe ich noch den Blur im Hintergurnd erhöt.</p>

<h2>Zaunpfahl</h2>
<app-image-slider class="slider"
                  before-img="../../assets/documents/youri/images/original/gitter.jpg"
                  after-img="../../assets/documents/youri/images/edited/gitter.jpg">
</app-image-slider>
<p class="bold">ISO: 80 <br/> Blende: f/5.2 <br/> Belichtungszeit: 1/125sec </p>
<p>Dieses Bild war sehr einfach zum Fotografieren. Da der Hintergrund sehr weit entfernt war, konnte ich die Blende
  beinahe auf den Standardeinstellungen lassen. <br/>Beim bearbeiten wollte ich vor allem diesen grünlichen Stich
  entfernen. Ausserdem habe ich noch den Kontrast zum Hintegrund erhöt.</p>

<h1>Bilder Silvan</h1>

<h2>Pfosten</h2>
<app-image-slider [before-img]="'assets/pictures/silvan/post-before.jpg'"
                  [after-img]="'assets/pictures/silvan/post-after.jpg'">
</app-image-slider>
<p class="bold">ISO: XY <br/> Blende: XY <br/> Belichtungszeit XY </p>
<p>
</p>
<h1>Türstopper</h1>
<app-image-slider [before-img]="'assets/pictures/silvan/stopper-before.jpg'"
                  [after-img]="'assets/pictures/silvan/stopper-after.jpg'"></app-image-slider>
<h1>Blatt in Pfütze</h1>
<app-image-slider [before-img]="'assets/pictures/silvan/leaf-before.jpg'"
                  [after-img]="'assets/pictures/silvan/leaf-after.jpg'"></app-image-slider>

<h1>Video</h1>

<video width="400" controls class="video">
  <source src="../../assets/video/Cervelat Film.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<p>Dieses Video wurde mit 3 Kameras aufgenommen. Das Video wurde danach mit Adobe Premiere Pro und Adobe After Effects
  bearbeitet und geschnitten.</p>

<h1>Livestream</h1>
<iframe src="https://player.twitch.tv/?channel=redbull2" frameborder="0" allowfullscreen="true" scrolling="no"
        height="378" width="620" class="video"></iframe>
<p>Dieser Stream stammt von Twitch. Je nachdem kann es sein, dass der Stream nicht geladen wird. Dies kann an der Proxy
  der GiBB liegen.</p>
