h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  width: 90%;
  margin: 15px auto;
  text-align: center;
  border-bottom: 1px solid black;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  text-align: center;
  margin: 15px auto;
  width: 90%;
}

p {
  width: 800px;
  font-family: Arial, cursive;
  margin: 10px auto;
}

.video {
  width: 620px;
  display: block;
}

@media screen and (max-width: 620px) {
  .video {
    width: 100%;
  }

  p, h1 {
    width: 100%;
    display: block;
  }
}

.video {
  margin: 15px auto;
  width: 620px;
  display: block;
}

.bold{
  font-weight: bold;
}
